* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  display: grid;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  grid-template-rows: 1fr auto;
}

.app {
  padding: 20px;
}

.header {
  background-color: #333;
  color: #fff;
  padding: 1rem;
  display: flex;
  justify-content: center;
  height: 60px;
  align-items: center;
}

.header {
  background-color: #333;
  color: #fff;
  padding: 1rem;
  display: flex;
  justify-content: center;
  height: 60px;
  align-items: center;
}

.logo {
  font-size: 1.5rem;
  font-weight: bold;
}

.nav-links {
  list-style: none;
  display: flex;
}

.nav-links li {
  margin-right: 1rem;
}

.nav-links a {
  text-decoration: none;
  color: #fff;
}

.hero {
  background-image: url('C:/Users/pc/OneDrive/Bureau/images (1).jpg');
  background-size: cover;
  background-position: center;
  color: #fff;
  text-align: center;
  padding: 5rem 0;
}

.hero-content {
  max-width: 800px;
  margin: 0 auto;
}

.hero h1 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

.cta-button {
  background-color: #ff9900;
  color: #fff;
  border: none;
  padding: 0.75rem 1.5rem;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 5px;
}

.features {
  display: flex;
  justify-content: space-around;
  padding: 3rem 0;
  background-color: #fff;
}

.feature {
  text-align: center;
  max-width: 300px;
}

.feature h2 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: #333;
  margin-top: auto;
  color: #fff;
  text-align: center;
  padding: 20px;
}

.footer p {
  font-size: 0.8rem;
}
